@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Animation du loader */
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* Animation du bloc-spinner*/
@keyframes off {
  from {
    opacity: 90%;
  }
  to {
    display: none;
    opacity: 0%;
    z-index: -1;
  }
}
/*aniamation des cartes*/
@keyframes appear {
  0% {
    opacity: 0;
    transform: translate3d(0, 30px, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
.anim-1 {
  animation-delay: 0.1s;
}
.anim-2 {
  animation-delay: 0.2s;
}
.anim-3 {
  animation-delay: 0.3s;
}
.anim-4 {
  animation-delay: 0.4s;
}
.anim-5 {
  animation-delay: 0.5s;
}
.anim-6 {
  animation-delay: 0.6s;
}
.anim-7 {
  animation-delay: 0.7s;
}
.anim-8 {
  animation-delay: 0.8s;
}
.anim-9 {
  animation-delay: 0.9s;
}
.anim-10 {
  animation-delay: 1s;
}

/* Animation du coeur*/
.fa-heart-animated {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  font-size: 0px;
  font-weight: bold;
  background: linear-gradient(163deg, rgb(238, 115, 218) 0%, rgb(160, 91, 220) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px transparent;
  transition: 200ms ease-in-out;
}

/*header*/
header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #fcfcfc;
}
header .logo {
  margin: 10px 0;
  position: relative;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 80%;
}
header .logo img {
  width: 60%;
}
header .logo i {
  position: absolute;
  left: 0;
  top: 10px;
  font-size: x-large;
}
header .map {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: grey;
  width: 100%;
  height: 30px;
}
header .map i {
  margin-right: 10px;
}
header .bloc-main-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
  width: 100%;
  padding-top: 40px;
  padding-bottom: 40px;
}
header .bloc-main-title h1 {
  text-align: center;
}
header .bloc-main-title p {
  text-align: center;
  margin: 20px 0;
}
header .banner {
  width: 100%;
}
header .banner img {
  width: 100%;
  max-width: 100%;
  max-height: 220px;
}

@media screen and (min-width: 800px) {
  header {
    width: 100%;
  }
  header .logo img {
    width: 40%;
    margin: 20px 0;
  }
  .logo {
    margin-right: 10px;
    width: 100%;
  }
  .logo-pages a i {
    margin-top: 20px;
    font-size: xx-large;
  }
}
/* section fonctionnement*/
#fonctionnement {
  background-color: white;
  padding-left: 20px;
  padding-top: 20px;
  height: 280px;
  padding-bottom: 20px;
}
#fonctionnement .bloc-card .card {
  margin-bottom: 20px;
  width: 95%;
  height: 60px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 60px;
  margin-left: 10px;
  margin-bottom: 20px;
  border: none;
  border-radius: 15px;
  background-color: #eaeaea;
  box-shadow: 0 5px 16px rgba(0, 0, 0, 0.1803921569);
  position: relative;
}
#fonctionnement .bloc-card .card .circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  border-radius: 25px;
  position: absolute;
  left: -10px;
  font-size: 10px;
  background-color: #9356DC;
  color: #f5f5f5;
}
#fonctionnement .bloc-card .card .card-text {
  margin-right: 10px;
  font-weight: bolder;
}
#fonctionnement .bloc-card .card .fa-solid {
  margin: 0 55px;
}
#fonctionnement .bloc-card .card .fa-shop {
  color: #9356DC;
}

/*section restaurant*/
#restos {
  background-color: #f5f5f5;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}
#restos h2 {
  padding-top: 20px;
}
#restos .bloc-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#restos .bloc-card .card {
  min-height: 60px;
}
#restos .bloc-card .card a {
  width: 100%;
  height: auto;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}
#restos .bloc-card .card a .card-image {
  position: relative;
}
#restos .bloc-card .card a .card-image img {
  width: 100%;
  height: 140px;
  border-radius: 10px 10px 0 0;
}
#restos .bloc-card .card a .card-image .news {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: #99E2D0;
  width: 30%;
  height: 30px;
  color: green;
  top: 5px;
  right: 8px;
}
#restos .bloc-card .card a .card-body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 5px;
}
#restos .bloc-card .card a .card-body .card-bloc-right {
  position: relative;
  height: 21px;
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-right: 10px;
}
#restos .bloc-card .card a .card-body .card-bloc-right:hover .fa-heart-animated {
  font-size: 20px;
}

/*responsive*/
@media screen and (min-width: 500px) {
  #fonctionnement {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  #fonctionnement h2 {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  #restos h2 {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 800px) and (max-width: 1200px) {
  #restos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  #restos .bloc-card {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }
  #restos .card {
    margin-right: 10px;
    width: 45%;
  }
}
@media screen and (min-width: 1210px) {
  #restos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  #restos .bloc-card {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
  }
  #restos .card {
    margin-right: 10px;
    width: 300px;
  }
}
.main-pages {
  position: relative;
  top: -14px;
  padding: 0 10px;
  background-color: #f5f5f5;
  border-radius: 15px 15px 0 0;
}
.main-pages .bloc-main-title-page {
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
}
.main-pages .bloc-main-title-page .icon-h {
  position: relative;
  height: 21px;
}
.main-pages .bloc-main-title-page .icon-h:hover .fa-heart-animated {
  font-size: 22px;
}

.entrees, .desserts, .plats {
  display: flex;
  flex-direction: column;
}
.entrees .bloc-card, .desserts .bloc-card, .plats .bloc-card {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

h4 {
  margin-top: 20px;
}

.card {
  border-radius: 10px;
  background-color: white;
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 12px;
  box-shadow: 0 5px 16px rgba(0, 0, 0, 0.1803921569);
  position: relative;
  /* animation-duration: 1s;
  animation-name: appear;
  transform: scale(0);
  animation-fill-mode: both;  */
  animation-name: appear;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-fill-mode: both;
}

.card a {
  display: flex;
}
.card a .text-subtitle {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.card a h3 {
  width: 95%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card a:hover .card-bloc-right p {
  width: 100px;
  border-radius: 0px 10px 10px 0px;
}

.card-bloc-right:hover .card-bloc-left {
  width: calc(100% - 100px);
}

.card-bloc-left {
  width: 100%;
  padding: 0.8em 0 0.8em 0.8em;
  position: relative;
  box-sizing: border-box;
}

.text {
  width: 80%;
  display: flex;
  padding-top: 5px;
}

.card-bloc-right .al {
  width: 100%;
}

.price {
  position: absolute;
  right: 5%;
}

.check {
  height: 100%;
  right: 0px;
  top: 0;
  width: 0px;
  background: #99E2D0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: all 0.3s ease;
}

.check:hover .fa-circle-check {
  transition: all 0.3s;
  transform: rotate(360deg);
}

.fa-circle-check {
  font-size: x-large;
  background: white;
  color: #99E2D0;
  border-radius: 25px;
}

.commande {
  text-align: center;
  width: 100%;
  margin-bottom: 0;
  margin-top: 20px;
}

@media screen and (min-width: 800px) and (max-width: 1245px) {
  .card-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .entrees, .desserts, .plats {
    width: 50%;
  }
}
@media screen and (min-width: 1250px) {
  .main-pages {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
  }
  .bloc-main-title-page h1 {
    text-align: right;
  }
  .bloc-main-title-page .icon-h {
    margin-right: 280px;
    margin-top: 8px;
  }
  .card-content {
    margin-left: 10px;
    width: 100%;
  }
  .entrees, .desserts, .plats {
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 30%;
  }
  .plats {
    margin: 0 auto;
  }
  .main-pages .bloc-card {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .bloc-card .card {
    width: 100%;
    height: auto;
  }
  .text {
    display: flex;
    justify-content: space-between;
  }
  .card-content {
    display: flex;
    flex-direction: row;
  }
}
footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 160px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-top: 10px;
  color: white;
  background-color: #353535;
}
footer p {
  margin-bottom: 15px;
}
footer p a {
  text-decoration: none;
  color: #fff;
}
footer p a i {
  margin-right: 10px;
}
footer p a .logo-f {
  width: 100%;
  height: 25px;
  margin-top: 15px;
  -webkit-filter: invert(1);
}

/* RESPONSIVE */
@media screen and (min-width: 600px) {
  footer {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .logo-f {
    height: 40px;
    margin-top: 30px;
  }
}
.header-button {
  min-width: 100px;
}

.commande button {
  min-width: 120px;
}

button {
  display: inline-block;
  height: 40px;
  border-radius: 25px;
  background-image: linear-gradient(left bottom, #FF79DA, #9356DC);
  background-image: -webkit-linear-gradient(left bottom, #da70d6, #ba55d3);
  background-image: -moz-linear-gradient(left bottom, #da70d6, #ba55d3);
  background-image: -ms-linear-gradient(left bottom, #da70d6, #ba55d3);
  background-image: -o-linear-gradient(left bottom, #da70d6, #ba55d3);
  border: none;
  opacity: 0.85;
  color: #fff;
  transition: 400ms;
  margin-bottom: 20px;
  cursor: pointer;
}
button:hover {
  cursor: pointer;
  opacity: 0.5;
  animation: flash 1.5s;
  box-shadow: 5px 15px 21px rgba(0, 0, 0, 0.5019607843);
}

body {
  background-color: #f6f6f6;
  font-family: "roboto";
}

h1, h2, h3, .logo {
  font-family: "shrikhand";
}

/***titrage et générique***/
a {
  text-decoration: none;
  display: block;
  width: 100%;
  height: auto;
  color: black;
}

h1 {
  width: 60%;
  font-size: 30px;
  font-weight: bold;
}

h2 {
  padding-bottom: 20px;
  font-weight: bold;
  font-size: 20px;
}

h3 {
  margin-bottom: 5px;
  font-size: 16px;
}

h4 {
  width: 25px;
  margin-bottom: 10px;
  border-bottom: 2px #b0e0e6 solid;
}

.logo-pages img {
  margin-right: 80px;
}

/*LOADER DE LA PAGE PRINCIPALE*/
.bloc {
  background-color: white;
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 1;
  animation: off;
  animation-duration: 3s;
  transition: opacity 3s ease-in-out;
  animation-delay: 1.75s;
  animation-fill-mode: both;
}
.bloc__loader {
  align-items: center;
  justify-content: center;
  border: solid 17px lightgrey;
  border-radius: 50%;
  z-index: 1;
  width: 167px;
  height: 167px;
  margin-top: 20%;
  margin-left: auto;
  margin-right: auto;
  border-top-color: #9356dc;
  animation: rotate linear infinite;
  animation-duration: 3s;
}

/*# sourceMappingURL=style.css.map */
