@import "utils/reset.scss";
@import "utils/mixins.scss";
@import "utils/variables.scss";
body{
    background-color: $grismap;
}
/***titrage et générique***/
a{
    @include stylelien;
 }
 h1{
    @include h1style;
 }
 h2{
    @include h2style;
}
h3{
    @include h3style;
}
h4{
    @include h4style;
} 
/*header*/
header{
    @include flexcolumncentre;
    width: 100%; 
    background-color: $gris;
    .logo{
        position: relative;
        @include aligncenter;
        @include flexcentre;
        width: 90%;
        height: 80%;         
        img{
            width: 60%;
        }
        i{
            position: absolute;
            left: 0;
        }       
    }
    .map{
        @include flexcentre;
        @include aligncenter;
        background-color: grey;        
        width: 100%;
        height: 30px;        
        i{
            margin-right: 10px;
        }
    }
    .bloc-main-title{
        @include flexcolumncentre;
        background-color: $grismap;
        width: 100%;
        padding-top: 40px;
        padding-bottom: 40px;
        h1{
            @include aligncenter;
        }            
        p{
            @include aligncenter;
            margin: 20px 0;            
        }
        button{
            @include button-style;
            min-width: 100px;           
        }     
    }
    .banner{
        width: 100%; 
          
        img{
            width: 100%;
            height:auto;
        } 
    }     
        
}
/* section fonctionnement*/
#fonctionnement{
    margin:40px 0;
    padding-left: 20px;
    
    .card a{
        @include flexeven;
        @include card-without-image;
        position: relative;
        .circle{
            @include flexcentre;
            @include form-circle;            
            font-size: 10px;
            background-color: $violetfonce;                      
        }
        .card-text{           
          margin-right: 10px;
          font-weight: bolder;  
        }
        .fa-shop{
            color: $violetfonce;
        }
        
    }    
}
/*section restaurant*/
#restos{
    background-color: $griscard;
    padding-left: 20px;
    padding-bottom: 20px;
    h2{        
        padding-top: 20px;        
    }
    .bloc-card{
        @include flexcolumncentre;              
        .card{                
                width: 100%;
                height: auto;
                background-color: white;                
                margin-bottom: 20px;
                border-radius: 10px;
                .card-image{
                    position: relative;
                    margin-bottom: 10px;
                    img{
                        width: 100%;
                        height: 140px;
                        border-radius: 10px 10px 0 0;
                    }
                    .news{
                       @include flexcentre;
                        position: absolute;
                        background-color: $colornew;
                        width: 30%;
                        height: 30px;                        
                        color: green;
                        top: 5px ;
                        right: 8px;
                    }
                }
                .card-body{
                    @include flexbet;
                    margin: 10px 5px;                    
                    .card-bloc-right{
                        display: flex;
                        align-items: center;
                        i:hover{
                            background-color: $violet;
                        }
                    }

                }
                
        }        
        
    }
}
main{
    padding: 0 10px;
    background-color: gray;
    .bloc-main-title-page{
        @include flexbet;
        margin-bottom: 20px;   

    }
    .entrees,.desserts,.plats{
        @include flexcol;        
        .bloc-card{
            @include flexcol;
            .card a{
                @include card-without-image;
                @include flexbet;
                background-color: white;
                align-items: center;                

                .card-bloc-right{
                   padding: 10px;
                }
                .card-bloc-left{
                    padding: 10px;                    
                }
            }
        }
    }
    .commande{
        text-align: center;        
        button{
            @include button-style;
            margin-bottom: 20px;
            min-width: 120px;
            cursor: pointer;
        }
        
        
    }
}
/***************footer********************/
footer{
    @include flexstart;
    height: 160px;
    padding-bottom: 20px;
    padding-left: 20px;    
    background-color: $blackfoot;
    p{
        margin-bottom: 15px;
        
        a{
            text-decoration: none;
            color: white;
            i{
                margin-right: 10px;
            }
            img{
                width: 70%;
                height: 25px;
                margin-top: 15px;
                color: white;                
            }
        }
    }
}


 