

.main-pages{
    position: relative;
    top: -14px; 
    padding: 0 10px ; 
    background-color: #f5f5f5;
    border-radius: 15px 15px 0 0;       
    .bloc-main-title-page{
        padding-top: 20px;
        @include flexbet;
        margin-bottom: 20px;
        .icon-h{
            position: relative;
            height: 21px;
            &:hover .fa-heart-animated {
                font-size: 22px;
              }
        }   
        
        
    }
}
.entrees,.desserts,.plats{
        @include flexcol;            
        .bloc-card{
            @include flexcol;
            margin-bottom: 10px;          
            
        }
}
h4{
    margin-top: 20px;
}
.card{
    border-radius: 10px;
    background-color: white;
    width: 100%;
    display: block; 
    margin-left: auto; 
    margin-right: auto;
    margin-top: 12px;    
    box-shadow: 0 5px 16px #0000002e;
    position: relative;
    animation-duration: 1s;
    animation-name: appear;
    transform: scale(0);
    animation-fill-mode: both;
    
  }   

  .card a{
    display: flex;
    
    .text-subtitle{                
      text-overflow: ellipsis;
      white-space: nowrap; 
      overflow: hidden;      
   }
   h3{
    width: 95%;                
    text-overflow: ellipsis;
    white-space: nowrap; 
    overflow: hidden;
         
 } 
 
    
}

    .card a:hover .card-bloc-right p{
      width: 100px;      
      border-radius: 0px 10px 10px 0px;
      
          
    }
     .card-bloc-right:hover .card-bloc-left {
      width: calc(100% - 100px);
      
     } 
    
    /*   /*...*/
    
   /* h3{
      font-weight: 200;
    } */

   .card-bloc-left{
      width: 100%;
      padding: 0.8em 0 0.8em 0.8em;
      position: relative;
      box-sizing: border-box;      
    }
   .text{
     width: 80%; 
      display: flex;
      padding-top: 5px;
      
   } 

     .card-bloc-right .al{       
        width: 100%;
      }
      .price{
        position: absolute;
        right: 5%;      
      }
    
 .check{
    height: 100%;
    right: 0px;
    top: 0;
    width: 0px;
    background: #99E2D0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: all 0.3s ease;   
        
  }
  .check:hover .fa-circle-check{
    transition: all 0.3s;
    transform: rotate(360deg);
    
}
  .fa-circle-check{
    font-size: x-large;        
    background: white;    
    color: #99E2D0;    
    border-radius: 25px;
    
       
  }     
  
    .commande{
        text-align: center;
        width: 100%;
        margin-bottom: 0;
        margin-top: 20px;              
    }
    
    @media screen and(min-width: 800px)and(max-width: 1245px){
      .card-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;        
      }
      .entrees,.desserts,.plats{        
        width: 50%;
      }
    }
  @media screen and(min-width: 1250px){
      .main-pages{
        width: 95%;
        margin-left: auto;
        margin-right: auto;        
      }
      .bloc-main-title-page h1{
        text-align: right;        
      }
      .bloc-main-title-page .icon-h{        
        margin-right: 280px;
        margin-top: 8px;        
      }
    .card-content{
         margin-left: 10px;
         width: 100%;        
       }    
      .entrees,.desserts,.plats{
              display: flex;
              flex-flow: column; 
              align-items:center;
              width: 30%;
      }
      .plats{
        margin: 0 auto;
      }
      .main-pages .bloc-card{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;    
        
      }
      .bloc-card .card{
        width: 100%;
        height: auto;        
      }
      
      .text{
        display: flex;
        justify-content: space-between;
      }
    
      .card-content{
        display: flex;
        flex-direction: row;
      }      
      
    }