.header-button{    
    min-width: 100px;
    padding: 0 30px;    
    }
    .commande button{        
        min-width: 120px;
        padding: 0 10px;     
    }                 

button{
    display: inline-block;
    height: 40px;
    border-radius: 25px; 
    background-image: linear-gradient(to left bottom,$secondary,$primary);   
    border: none;    
    opacity: 0.85;
    color: #fff;
    transition: 400ms;
    margin-bottom: 20px; 
       
    cursor: pointer;
    &:hover{
      cursor: pointer;
      opacity: 0.5;
	  animation: flash 1.5s;
      box-shadow: 5px 15px 21px #00000080;
    }
} 