
  
  body{
    background-color:$griscard;
    font-family: "roboto" ; 
}
h1, h2, h3, .logo
   {
    font-family: "shrikhand";
  }
/***titrage et générique***/
a{
    @include stylelien;
 }
 h1{
    @include h1style;
 }
 h2{
    @include h2style;
}
h3{
    @include h3style;
}
h4{
    @include h4style;
}
.logo-pages img{
    margin-right: 80px
}