$violet:#d26bdb;
$violetfonce:#9255dc;
$coeur:#ca68db;
$griscard:#f6f6f6;
$gris:#fcfcfc;
$grismap:#eaeaea;
$colornew:#99e2d0;
$newtext:#84d6c2;
$blackfoot:#353535;
$verthover:#99e2d0;
$backwhite:#fff;
$colorwhite:#fff;
